{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Alumnos</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- LISTADO DE ALUMNOS -->
                        <tr>
                            <td>1</td>
                            <td>César Mayta</td>
                            <td>cesarmayta@tecsup.edu.pe</td>
                            <td></td>
                        </tr>
                        <!----------------------------->
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevoUsuario">
                Nuevo Alumno
              </button>
        </div>
    </div>

</div>
{% endblock %}