{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Profesores</h1>
    {% if messages %}
    <p class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </p>
{% endif %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{message.message}}
 <!-- LISTADO DE PROFESORES -->
{%for profesor in profesores %}
<tr>
    <td>{{profesor.profesor_id}}</td>
    <td>{{profesor.profesor_nombre}}</td>
    <td>{{profesor.profesor_email}}</td>
    <td>
        <button type="button" class="btn btn-danger eliminar-profesor" data-toggle="modal" data-target="#eliminarUsuario-{{ profesor.profesor_id }}">
            Eliminar
        </button>
    </td>
</tr>
<div class="modal fade" id="eliminarUsuario-{{ profesor.profesor_id }}" tabindex="-1" role="dialog" aria-labelledby="eliminarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'web:eliminar_profesor' %}">
                    {% csrf_token %}
                    <input type="hidden" name="profesor_id" value="{{ profesor.profesor_id }}">
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevoProfesor">
                Nuevo Profesor
              </button>
        </div>
    </div>

</div>
{% endblock %}